/*================================================  
    Author     : Wian Khaerul Amri
    Document   : CSS
    Framework  : SYNTHETIC CSS
    VERSION    : V1.5.0
==================================================*/
